<div class = "fond">

<h1>Démarrez tous vos sites web et vos logiciels favoris en un clic...</h1>

<div>
<img
    src="assets/images/repos.png" 
/>
</div>

<div>
  <p>Vous en avez marre de cliquer 50 fois après chaque démarrage de votre ordinateur, pour ouvrir vos sites web et logiciels préférés?
  <p> Alors prenez quelques minutes aujourd'hui, pour gagner du temps ensuite.</p>
  <p> 1. Renseignez ci-dessous les logiciels et sites que vous souhaitez ouvrir dès que votre ordinateur est allumé.
	<br>
	2. Cliquez sur "Créer le fichier", puis enregistrez le fichier sur votre ordinateur (par exemple sur votre bureau).
	<br>
	3. Chaque matin, après avoir allumé votre ordinateur,

	double-cliquez sur le fichier et allez boire votre café: à votre retour vos sites et logiciels seront ouverts!</p>
</div>

<div class="messageErreur">
  {{messageErreur}}
</div>
<div class="messageConfirmationCreationOK">
  {{messageConfirmationCreationOK}}
</div>
<div>
    <div> 
        <main>
            <form [formGroup]="formulaireCreationBatch">
                <h2>Logiciels</h2>
					<div></div>
					<div *ngFor="let logiciel of getLogicielsFormControls(); let i = index">
						<label>Logiciel {{i+1}} </label>
						<input [formControl]="logiciel" type="text" id="nomLogiciel" name="logiciel" required="false" placeholder=" Par exemple 'C:\Program Files (x86)\OpenOffice 4\program\swriter.exe'" class="input500">
						<button (click)="supprimerLogiciel(i)" class="boutonSupprimer">x</button> 
					</div>
					<br>  
					<button (click)="ajouterLogiciel()"class="boutonAjouter"><strong>+ </strong> Ajouter un autre logiciel</button>
					<br>
				<h2>Sites</h2>
					<div *ngFor="let urlSiteweb of getUrlSitewebsFormControls(); let i = index" class="aligne">
						<label>Site web {{i+1}} </label>
						<input [formControl]="urlSiteweb" type="text" id="urlSiteweb" name="urlSiteweb" required="false" placeholder=" Par exemple 'http://www.blablabla.fr'" class="input300">	
						<button (click)="supprimerUrlSiteweb(i)" class="boutonSupprimer">x</button>
						<div *ngIf="urlSiteweb.touched && urlSiteweb.invalid" class="messageErreur">
							L'adresse {{urlSiteweb.value}} est invalide.
						</div>
					</div>
					<br>
					<button (click)="ajouterUrlSiteweb()"class="boutonAjouter"><strong>+ </strong> Ajouter un autre site web</button>
					<br><br>
   				   <button type="button" (click)="creerBatch()" [disabled]="!formulaireCreationBatch.valid"> Créer le fichier</button>
                   <br>
            </form>
        </main>
    </div>
</div>

</div>
