<div>
	<p>
		Besoin d'aide pour trouver votre logiciel ? Suivez <a href = "assets\tutoriel.pdf" target="_blank"> notre tutoriel en image </a>!
		<br>
		Sinon (ou ensuite), renseignez directement les logiciels que vous souhaitez ouvrir:
	</p>
</div>

<!--
<div style="width: 1100px; height: 170px; text-align:center;margin:0; padding:0;">
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '12%', height: 150}"
    slideImage="1"></ng-image-slider>
</div>
-->