body {
  font-family: Arial, Helvetica, sans-serif;
  background:#FFF7AF;
  padding-left: 1em;
  padding-top: 1em;
}


h1{
  font-size: 1.75em;
  font-family: Arial, Helvetica, sans-serif;
  color: #2A2215;
  background: none;
}

h2{
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: #2A2215;
  background: none;
}
.input100 {
  min-width: 100px;
}

.input300 {
  min-width: 300px;
}

.input400 {
  min-width: 400px;
}

.input500 {
  min-width: 500px;
}

.messageErreur {
  padding-left: 0.5em;
  font-size: 0.75em;
  font-style: italic;
  color: red;
}
.messageConfirmationCreationOK {
  padding-left: 0.5em;
  font-size: 1.25em;
  font-style: italic;
  color: green;
}

.aligne div{
  display: inline-block;
}

.colonne div{
  display: block;
}

.paddingLeft1Em {
  padding-left: 1em;
}

.paddingLeft2Em {
  padding-left: 2em;
}

.boutonAjouter {
  height: 25px;
  width: 175px;
  padding-left:0.3em;
  padding-bottom:1.2em;
  line-height: 30px;
  font-size: 0.85em;
  border-radius: 10%;
  background-color: rgb(147,193,32);
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  bottom: 10%;
  right: 4%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.boutonSupprimer {
  height: 20px;
  width: 25px;
  padding-bottom:0.5em;
  font-size: 1em;
  border-radius: 10%;
  background-color: rgb(202,0,0);
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  bottom: 10%;
  right: 4%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}






